<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </a>
      <a class="brand" href="{{ SITEURL }}/index.html">{{ SITENAME }}</a>
      <div class="nav-collapse collapse">
	<ul class="nav">
	  {% for title, link in MENUITEMS %}
	  <li><a href="{{ link }}">{{ title }}</a></li>
	  {% endfor %}
	  {% if DISPLAY_PAGES_ON_MENU %}
	  {% for page in PAGES %}
	  <li><a href="{{ SITEURL }}/pages/{{ page.url }}">{{ page.title }}</a></li>
	  {% endfor %}
	  {% endif %}
	  {% for cat, null in categories %}
	  <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
	  {% endfor %}
	</ul>
	<p class="navbar-text pull-right">
	  <a class="navbar-link" href="{{ SITEURL }}/archives.html">[archives]</a>
	  <a class="navbar-link" href="{{ SITEURL }}/tags.html">[tags]</a>
	</p>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
