{% include "_about.html" %}

{% if LINKS or SOCIAL %}
<div class="well sidebar-nav">
  {% if LINKS %}
  <ul class="nav nav-list">
    <li class="nav-header">Blogroll</li>
    {% for name, link in LINKS %}
    <li><a href="{{ link }}">{{ name }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if SOCIAL %}
  <ul class="nav nav-list social">
    <li class="nav-header">Elsewhere</li>
    {% for name, link in SOCIAL %}
    <li><a href="{{ link }}">{{ name }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
</div><!--/.well -->
{% endif %}
