<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="{{ AUTHOR }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
	<script src="{{ SITEURL }}/theme/html5.js"></script>
	<![endif]-->

    <!-- Le styles -->
    <link href="{{ SITEURL }}/theme/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
      padding-top: 60px;
      padding-bottom: 40px;
      }
      .sidebar-nav {
      padding: 9px 0;
      }
    </style>
    <link href="{{ SITEURL }}/theme/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/local.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/pygments.css" rel="stylesheet">
    {% include "analytics.html" %}
    {% include "disqus.html" %}
  </head>
  <body>
    {% include "facebook.html" %}
    {% include "github.html" %}
    
    {% include "_header.html" %}

    <div class="container-fluid">
      <div class="row-fluid">
	<div class="span1">&nbsp;</div>
	<div class="span10">
	  <div class="row-fluid">
            <div class="span9">
	      {% block indextitle %}
	      <div class="page-header">
		<h1>{% block title %} {{ self.windowtitle() }} {% endblock %}</h1>
	      </div>
	      {% endblock %}
	      {% block content %}{% endblock %}
            </div><!--/span-->

	    <div class="span3">
	      {% include "_sidebar.html" %}
            </div><!--/span-->

	  </div>
	</div>
      </div><!--/row-->

      <hr>

      <footer>
        <p>Powered by <a href="http://alexis.notmyidea.org/pelican/">Pelican</a></p>
	<p>&copy; {{ AUTHOR }} 2012</p>
      </footer>

    </div><!--/.fluid-container-->


  </body>
</html>
